<app-tree-view-toolbar [disableUpFolder]="!hasParentFolder" (parentFolder)="goToParentFolder()" ></app-tree-view-toolbar>
<mat-list>
	<h3 mat-subheader>{{ currentFolder.name }}</h3>
	<mat-list-item *ngFor="let folder of currentFolder.subFolders" class="folder" (click)="openFolder(folder)" >
		<mat-icon mat-list-icon class="file-type-icon">folder</mat-icon>
		<div mat-line>
			{{ folder.name }}
		</div>
		<p mat-line>{{ folder.creationDate | date: 'dd MMM yyyy' }}</p>
		<div class="row-actions">
			<button mat-button (click)="test($event)">
				<mat-icon>file_download</mat-icon>
			</button>
		</div>
	</mat-list-item>
	<mat-list-item *ngFor="let file of currentFolder.subFiles" class="file">
		<mat-icon mat-list-icon class="file-type-icon">insert_drive_file</mat-icon>
		<div mat-line>
			{{ file.name }}.{{ file.extension }}
		</div>
		<p mat-line> {{ file.creationDate | date: 'dd MMM yyyy' }} </p>
		<div class="row-actions">
			<button mat-button>
				<mat-icon>file_download</mat-icon>
			</button>
		</div>
	</mat-list-item>
	<mat-list-item *ngIf="currentFolder.subFolders.length + currentFolder.subFiles.length === 0" class="empty-folder">
		<p mat-line>Empty directory</p>
	</mat-list-item>
</mat-list>
