
@import "../../scss/colors";

.folder, .file {

	.mat-line {
		display: flex;
		flex-direction: row;
	}

	p {
		color: #b7b7b7;
	}

	.row-actions {
		margin-left: auto;
		display: none;
		.mat-button {
			min-width: unset;
		}
	}

	&:hover {
		.row-actions {
			display: block;
		}
	}
}

.folder {
	cursor: pointer;
	&:hover {
		background: #616161;
	}
	.file-type-icon {
		color: $accent;
	}
}

.file {
	.file-type-icon {
		color: $primary;
	}
}

.empty-folder {
	text-align: center;
	font-style: italic;
}
